.input-name-error {
    position: absolute;
    top: 139px;
    left: 36px;
}

@media screen and (max-width: 559px) {
    .input-name-error {
        top: 150px;
        left: 22px;
    }
    
}

    